/* Yes, this is bad. I couldn't find another way to override the css. */
.react-tabs__tab-panel--selected {
    display: flex !important;
}

.displayFlexImportant {
    display: flex !important;
}

@media (min-width: 768px) {
    #mediumHide {
        display: none !important;
    }
}

.marginRightImportant {
    margin-right: 1em !important;
}