/* Custom styling for react-accessible-treeview classes */

.tree-node {
    cursor: pointer;
    white-space: nowrap;
}

.tree-node:hover {
    background: #C6E3FA;
}

.selected {
    cursor: pointer;
    background: #6ab0ff;
}